.gallery{
  --webkit-column-count: 3;
  --moz-column-count: 3;
  -webkit-column-width:  33% ;
  --moz-column-width: 33% ;
  column-width: 33% ;
  paddning: 0 10px;

}

.gallery .pics{
  --webkit-transation: all 350ms ease;
    transition: all 350s ease;
    cursor: pointer;
    margin-bottom: 15px;

}